html {
    font-family: sans-serif;
    scroll-behavior: smooth;
}

header{
    padding: 75px;
    text-align: left;
    color: black;
    font-size: 30px;
    height: 800px;
    background-image: linear-gradient(white, #e6ecfa);
}

#knopje {
    background-color: rgb(33, 14, 166);
    border: none;
    color: white;
    padding: 10px 27px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
}

#ik{
    margin-right: 200px;
    height: 700px;
    width: 450px;
    margin-top: -500px;
    float: right;

}


body {
    margin: 0;
    height: 100%;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

.header {
    position: sticky;
    top: 0;
    display: flex;
    background-color: white;
    width: 100%;
    height: 60px;
    box-shadow: 0 1px 4px rgba(146, 161, 176, 0.3);
    z-index: 1000;
}


.header a {
    color: black;
    font-size: 20px;
}

.navbar {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    z-index: 1000;
}

.knopje {
    width: 250px;
}

.main {
    display: flex;
    text-align: left;
    color: black;
    font-size: 30px;
    background-image: linear-gradient(white, #e6ecfa);
    flex-direction: column;
    height: 30%;
    align-items: flex-end;
}



/* Main-contact code starts here */

.main-contact {
    display: flex;
    justify-content: center;
    background: rgb(230, 236, 250);
}

.main-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: rgb(230, 236, 250);
}

.main-content {
    background-color: rgb(230, 236, 250);
}

form {
    padding: 25px;
    background: white;
    border-radius: 25px;
    box-shadow: 0 1px 4px rgba(146, 161, 176, 0.3);
    width: 85%;
}

.contacteermij {
    align-items: center;
    text-align: center;
}


input, textarea {
    max-height: 100px;
    width: calc(100% - 18px);
    padding: 15px;
    margin-bottom: 20px;
    background-color: rgb(230, 236, 250);
    border: 1px solid black;
    outline: none;
    border-radius: 10px;
}

button {
    width: 25%;
    padding: 15px;
    border: none;
    background: rgb(33, 14, 166);
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    border-radius: 10px;
    box-shadow: 0 1px 4px rgba(146, 161, 176, 0.3);
}
button:hover {
    transition: 0.2s;
    background: rgb(52, 35, 182);
}
@media (min-width: 568px) {
    .main-block {
        flex-direction: row;
    }
}

textarea {
    font-family: sans-serif;
    height: 100px;
}

.content-right {
    align-items: center ;
    float: right;
}

/* Main-contact end here */

.flex-container {
    display: flex;
    justify-content: center;
    background-color: rgb(230, 236, 250);
    align-items: center;
}

.flex-container > div {
    background-color: #f1f1f1;
    width: 35%;
    margin: 3%;
    text-align: center;
    font-size: 2.5vh;
    background-color: rgb(230, 236, 250);
}

.flex-text {
    border: 1px black solid;
    border-radius: 10px;
}

.h2{
    background-color: rgb(230, 236, 250);
    text-align: center;
}

.foto {
    border: none;
    width: 75%;
    height: 75%;
}